body {
	margin: 0;
	padding: 0;
}
.tip {
	font-family: "Microsoft YaHei","微软雅黑",Helvetica,"黑体",Arial,Tahoma;
    font-size: 14px;
}
#result {
	z-index: 100;
	position: fixed;
    background-color: #44B549;
    color: #fff;
	width: 200px;
	text-align: center;
	/*margin: 0 auto 0;*/
	margin-left: 40%;
	padding: 3px 25px 3px 25px;
	border: 1px solid #83AF7B;
}
.subtitle {
	position: absolute;
	left: 500px;
	top: 30px;
	color: rgba(255,255,255,0.7);
	font-size: 16px;
	font-weight: bold;
	font-style: italic;
	line-height: 30px;
	text-shadow: 0 1px rgba(0,0,0,0.2);
}
.logo {
	background-image: url(./images/chaosuan.png);
	width:330px;
	height: 120px;
	margin-left: 100px;
	display: inline-block;
}
#handin {
	color: #fff;
	padding: 8px 10px 8px 10px;
	/*text-align: center;*/
	background-color: #44B549;
	font-family: "Microsoft YaHei","微软雅黑",Helvetica,"黑体",Arial,Tahoma;
    font-size: 14px;
    border: 1px solid #83AF7B;
    border-radius: 4px;
    cursor: pointer;
}
.chooselabel {
	color: #3c3c3c;
	font-size: 22px;
	font-weight: bold;
	font-family: 华文新魏;
}
#kindchoose {
	cursor: pointer;
	font-size: 20px;
	line-height: 30px;
	width: 200px;
	height: 30px;
	padding-left: 5px;
}
#tabchoose {
	padding: 0;
	margin-top: -62px;
	width: 207px;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	list-style-type: none;
}
#tabchoose li {
	cursor: pointer;
	padding-left: 5px;
	font-size: 20px;
	line-height: 30px;
}